*{margin: 0; padding: 0;}
.slider{
	width: 1200px;
	margin: 100px auto;
}
.slider .slick-slide> div{
	margin: 10px;
}
.slider .slick-slide  div img{
	display: block;
	width: 100%;
}

/* 시작 이미지 꾸미기 */

/*이동버튼 꾸미기*/
.slider .slick-prev:before, 
.slider .slick-next:before{
	content:'';/*원래 버튼 없애기*/
}
.slider .slick-prev,
.slider .slick-next{
	width:27px;
	height:29px;
}
.slider .slick-prev{
	background:url(../images/left.green.png) no-repeat;
	left:-50px;
}
.slider .slick-prev:hover{
	background:url(../images/left.green.png) no-repeat rgba(255, 255, 255, 0.3);
	box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.3), -5px -5px 30px rgba(255, 255, 255, 0.3), -5px 5px 30px rgba(255, 255, 255, 0.3), 5px -5px 30px rgba(255, 255, 255, 0.3);
}
.slider .slick-next{
	background:url(../images/right.png) no-repeat;
	right:-50px;
}
.slider .slick-next:hover{
	background:url(../images/right.png) no-repeat rgba(255, 255, 255, 0.3);
	box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.3), -5px -5px 30px rgba(255, 255, 255, 0.3), -5px 5px 30px rgba(255, 255, 255, 0.3), 5px -5px 30px rgba(255, 255, 255, 0.3);
}

/*블릿버튼 꾸미기*/
.slider .slick-dots li button::before{
	content: '';/*원래 버튼 없애기*/
}

.slider .slick-dots li button{
	width:10px;
	height:10px;
	padding:0;
	background:#304938;
	border-radius:50%;
	opacity: 0.5;
}
.slider .slick-dots li.slick-active button{
	background:#fff;
	opacity:1
}

