@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: white;}
body{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    line-height: 25px;
    color: white;
}


/* menu */
#top{
    background-color: rgba(48, 73, 56, 0.3);
    width: 100%;                 /*너무 커서 px 대신 100%로 설정해야함*/
    height: 95px;
    position: absolute;          /*body가 기준*/
    top: 0;                      /*위치 꼭 잡기*/
    left: 0;
    z-index: 80;
}
.top_inner{
    width: 1320px;
    height: 95px;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 310px;
    height: 51px;
    float: left;
}
.menu1{
    float: left;
}
.menu1> li{
    float: left;
}
.menu1> li> a{
    padding: 15px 50px 30px;
    display: block;
}
.menu2{
    float: right;
}
.menu2 li{
    float: left;
    padding: 15px 0 10px 15px;
}
.search, .basket, .login{
    width: 20px;
    height: 20px;
    padding: 5px 5px 3px 1px;
    margin-left: 5px;
}
/*hover*/
.menu1> li> a:hover{
    color: rgb(48, 73, 56);
}
.menu2 li a:hover{
    background-color: rgba(48, 73, 56, 0.3);
    border-radius: 50%;
}


/*서브메뉴 꾸미기*/
.sub{
    background-color: #f0e7db;
    width: 100%;
    height: 350PX;
    position: absolute;/*body가 기준*/
    left: 0;
    display: none;     /*안보이게 만들어 주기!*/
}
.sub div{
    width: 1320px;
    margin: auto;
}
.sub ul{
    float: left;
}
.sub ul a{
    color: rgb(48, 73, 56);
    display: block;
    padding: 10px 0;
    font-size: 18px;
}
.sub ul a:hover{
    font-weight: bold;
}
.store_img, .whatsnew_img{
    float: right;
}
.store{
    color: rgb(39, 43, 68);
    font-family: 'YUniverse-B';
    font-weight: bold;
    font-size: 25px;
    padding: 40px 0 20px 0;
}
/*.menu1 li:hover .sub{
    display: block;
}*/




/* section1 */
#section1{
	text-align: center;
}
.logo_bg{
    background: url(../images/brand_bg.jpg) no-repeat;
    background-size: cover;
    height: 1012px;
}
.logo_bg h1{
    padding: 400px 0 60px 0;
}
.logo_bg p{
    color: #304938;
    font-size: 18px;
    line-height: 35px;
}
.logo_bg b{
    font-size: 20px;
}


/* section2 */
#section2{
	text-align: center;
}
.up_logo{
    color: #444;
    background-color: #f9e7dd;
    height: 300px;
}
.up_logo h2{
    text-align: left;
    padding-left: 300px;
}
.up_logo ul{
    margin: 50px 0 70px 200px;
}
.up_logo li{
    float: left;
    font-size: 50px;
    padding: 0 30px;
}
.down_symbol{
    background-color: #272b44;
    height: 300px;
}
.down_symbol img{
    background-color: #272b44;
}
.down_symbol ul li{
    float: left;
}


/* section3 */
#section3{
	background-color: #282828;
	text-align: center;
}
.color{
    width: 1320px;
    margin: auto;
}
.color h2{
    letter-spacing: 2px;
    padding: 120px 0 70px 0;
    font-size: 30px;
}
.color ul{
    float: left;
}
.color ul li{
    float: left;
    padding: 15px;
}
.main_color{
    padding-left: 40px;
    background-color: #f0e7db;
}


/* section4 */
#section4{
	background-color: #f9f6f1;
	text-align: center;
}
.identity{
    width: 1320px;
    margin: auto;
}
.identity h2{
    color: #304938;
    letter-spacing: 2px;
    padding-bottom: 130px;
    font-size: 30px;
}
.identity ul li{
    float: left;
    height: 300px;
    margin: 0 15px;
    border-radius: 0 70px;
    box-shadow: 15px 15px 20px rgba(252, 189, 155, 0.8);
    transition: all 1s;
}
.identity ul li:hover{
    transform: translateY(-10px);
}


/* section5 */
#section5{
    background: #304938;
	text-align: center;
    background: url(../images/brand_philosophy.jpg) no-repeat center top;
    background-size: cover;
}
.philosophy h2{
    letter-spacing: 2px;
    padding-bottom: 80px;
    font-size: 30px;
}



/* section6 */
#section6{
	text-align: center;
    color: #304938;
}
.global{
    background: #f0e7db;
    height: 937px;
}
.global h2{
    padding: 200px 0 20px 0;
    letter-spacing: 2px;
    font-size: 30px;
}
.global h4{
    font-size: 13px;
    padding-bottom: 80px;
    letter-spacing: 2px;
    font-weight: 10px;
}


/* section7 footer */
#section7{
    background-color: rgba(48, 73, 56, 0.8);
}
.footer{
    width: 1320px;
    height: 300px;
    margin: auto;
    padding: 50px 0;
}
.f_logo{
    width: 284px;
    height: 47px;
    float: left;
    padding-bottom: 50px;
}
.tell{
    font-size: 30px;
    padding-bottom: 25px;
}
.return{
    padding-top: 20px;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
    display: block;
    text-align: right;
    font-size: 13px;
}
.icon{
    padding: 0 0 20px 10px;
    opacity: 0.5;
}
.icon:hover{
    transition: all 0.2s;
    opacity: 1;
}
.f_right h3{
    padding: 30px 0 10px 0;
}
.mark{
    width: 50px;
    padding-top: 20px;
}
.terms:hover{
    text-decoration: underline;
}