@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: white;}
body{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    line-height: 25px;
    color: white;
    min-width: 1320px;
}


/*top*/
#top{
    background-color: rgba(48, 73, 56, 0.3);
    width: 100%;                 /*너무 커서 px 대신 100%로 설정해야함*/
    height: 95px;
    position: absolute;          /*body가 기준*/
    top: 0;                      /*위치 꼭 잡기*/
    left: 0;
    min-width: 1320px;
}
.top_inner{
    width: 1320px;
    height: 95px;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 310px;
    height: 51px;
    float: left;
}
.menu1{
    float: left;
}
.menu1> li{
    float: left;
}
.menu1> li> a{
    padding: 15px 50px 30px;
    display: block;
}
.menu2{
    float: right;
}
.menu2 li{
    float: left;
    padding: 15px 0 10px 15px;
}
.search, .basket, .login{
    width: 20px;
    height: 20px;
    padding: 5px 5px 3px 1px;
    margin-left: 5px;
}
/*hover*/
.menu1> li> a:hover{
    color: rgb(48, 73, 56);
}
.menu2 li a:hover{
    background-color: rgba(48, 73, 56, 0.3);
    border-radius: 50%;
}


/*서브메뉴 꾸미기*/
.sub{
    background-color: #f0e7db;
    width: 100%;
    height: 350PX;
    position: absolute;/*body가 기준*/
    left: 0;
    display: none;     /*안보이게 만들어 주기!*/
}
.sub div{
    width: 1320px;
    margin: auto;
}
.sub ul{
    float: left;
}
.sub ul a{
    color: rgb(48, 73, 56);
    display: block;
    padding: 10px 0;
    font-size: 18px;
}
.sub ul a:hover{
    font-weight: bold;
}
.store_img, .whatsnew_img{
    float: right;
}
.store{
    color: rgb(39, 43, 68);
    font-family: 'YUniverse-B';
    font-weight: bold;
    font-size: 25px;
    padding: 40px 0 20px 0;
}
/*.menu1 li:hover .sub{
    display: block;
}*/


/*banner*/
#banner{
    background: url(../images/banner_review.png) no-repeat center top;
    height: 513px;
}


/*wrap*/
#wrap{
    height: 2230px;
    background-color: #fbf6ef;
    color: #444444;
    text-align: center;
    padding: 50px 0;
}
#wrap> h3{
    display: inline-block;
    background-color: #304938;
    padding: 8px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}
.hoogi{
    font-size: 15px;
}
/*영상*/
.video{
    background-color: #fff;
    padding: 50px 0;
    margin: 50px 0;
}
.video_inner{
    width: 1320px;
    height: 500px;
    margin: 0 auto;
}
.video_inner li{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.video_inner li:nth-child(1){
    text-align: left;
    padding: 70px 0 0 50px;
}
.video_inner li:nth-child(2){
    text-align: left;
    padding: 150px 0 0 50px;
}
.video_inner h2{
    padding: 15px 0 60px 0;
    font-size: 20px;
}
.video_inner p{
    padding-top: 20px;
    font-weight: 400;
}
.video_review{
    width: 100%;
}

/*배너*/
.event{
    width: 1320px;
    height: 390px;
    margin: auto;
    overflow: hidden;
}
.event li{
    float: left;
    padding-top: 60px;
}
.event li:nth-child(1){
    margin-right: 20px;
}
/*popup1*/
/*팝업창 위치 꾸미기*/
.popup1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;/*팝업 안보이게 만들기*/
    z-index: 99;
}

/*Close버튼 꾸미기*/
.popup1 p{
    background-color: #b8c4b1;
    padding: 8px 15px 5px 8px;
    text-align: right;
    border-radius: 20px 20px 0 0;
}
.popup1 p a{
    color: #304938;
    text-decoration: none;
}
.popup1 .pop1_text{
    width: 610px;
    height: 712px;
    border-radius: 0 0 30px 30px;
}
.popup1 .close{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/*popup2*/
/*팝업창 위치 꾸미기*/
.popup2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;/*팝업 안보이게 만들기*/
    z-index: 99;
}

/*Close버튼 꾸미기*/
.popup2 p{
    background-color: #b8c4b1;
    padding: 8px 15px 5px 8px;
    text-align: right;
    border-radius: 20px 20px 0 0;
}
.popup2 p a{
    color: #304938;
    text-decoration: none;
}
.popup2 .pop2_text{
    width: 610px;
    height: 712px;
    border-radius: 0 0 30px 30px;
}
.popup2 .close{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
/*전체리뷰*/
.square{
    background-color: #fff;
    height: 1000px;
}
.square_inner{
    width: 1320px;
    margin: auto;
}
.square_inner li{
    float: left;
    margin: 10px 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.square_inner h3{
    margin: 20px 0;
}
.square_inner h3 a{
    background-color: #304938;
    display: inline-block;
    padding: 8px 30px;
    margin-top: 70px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}
.square_inner h3 a:hover{
    background-color: #272b44;
}
.rrr{
    text-align: right;
}
.square_hover{
   position: absolute;
   left: 0;
   bottom: -200px;
   transition: all 1s;
}
.square_inner li:hover .square_hover{
    bottom: 0px;
}

/*footer*/
#footer{
    background-color: rgba(48, 73, 56, 0.8);
}
.footer_inner{
    width: 1320px;
    height: 300px;
    margin: auto;
    padding: 50px 0;
}
.f_logo{
    display: inline-block;
    width: 284px;
    height: 47px;
    float: left;
    padding-bottom: 50px;
}
.tell{
    font-size: 30px;
    padding-bottom: 25px;
}
.return{
    padding-top: 20px;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
    display: block;
    text-align: right;
    font-size: 13px;
}
.icon{
    display: inline-block;
    padding: 0 0 20px 10px;
    opacity: 0.5;
}
.icon:hover{
    transition: all 0.2s;
    opacity: 1;
}
.f_right h3{
    padding: 30px 0 10px 0;
}
.mark{
    display: inline-block;
    width: 50px;
    padding-top: 20px;
}
.terms{
    display: inline-block;
}
.terms:hover{
    text-decoration: underline;
}


/*fixed*/
.fixed{
    position: fixed;
    bottom: 50px;
    right: 40px;
}
.fixed a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(48, 73, 56, 0.8);
    border-radius: 50%;
}
.fixed a:nth-child(1){
    background: rgba(48, 73, 56, 0.8) url(../images/hover_basket.png) no-repeat center center;
    background-size: 20px;
    margin-bottom: 10px;
}
.fixed a:nth-child(2){
    background: rgba(48, 73, 56, 0.8) url(../images/hover_top.png) no-repeat center center;
    background-size: 20px;
}
.fixed a:hover{
    opacity: 0.5;
}