@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: white;}
body{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    line-height: 25px;
    color: white;
    min-width: 1320px;
}


/*top*/
#top{
    background-color: rgba(48, 73, 56, 0.3);
    width: 100%;                 /*너무 커서 px 대신 100%로 설정해야함*/
    height: 95px;
    position: absolute;          /*body가 기준*/
    top: 0;                      /*위치 꼭 잡기*/
    left: 0;
    z-index: 99;
    min-width: 1320px;
}
.top_inner{
    width: 1320px;
    height: 95px;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 310px;
    height: 51px;
    float: left;
}
.menu1{
    float: left;
}
.menu1> li{
    float: left;
}
.menu1> li> a{
    padding: 15px 50px 30px;
    display: block;
}
.menu2{
    float: right;
}
.menu2 li{
    float: left;
    padding: 15px 0 10px 15px;
}
.search, .basket, .login{
    width: 20px;
    height: 20px;
    padding: 5px 5px 3px 1px;
    margin-left: 5px;
}
/*hover*/
.menu1> li> a:hover{
    color: rgb(48, 73, 56);
}
.menu2 li a:hover{
    background-color: rgba(48, 73, 56, 0.3);
    border-radius: 50%;
}


/*서브메뉴 꾸미기*/
.sub{
    background-color: #f0e7db;
    width: 100%;
    height: 350PX;
    position: absolute;/*body가 기준*/
    left: 0;
    display: none;     /*안보이게 만들어 주기!*/
}
.sub div{
    width: 1320px;
    margin: auto;
}
.sub ul{
    float: left;
}
.sub ul a{
    color: rgb(48, 73, 56);
    display: block;
    padding: 10px 0;
    font-size: 18px;
}
.sub ul a:hover{
    font-weight: bold;
}
.store_img, .whatsnew_img{
    display: inline-block;
    float: right;
}
.store{
    color: rgb(39, 43, 68);
    font-family: 'YUniverse-B';
    font-weight: bold;
    font-size: 25px;
    padding: 40px 0 20px 0;
}
/*.menu1 li:hover .sub{
    display: block;
}*/


/*banner*/
#banner img{
    width: 100%;                  /*너무 커서 px 대신 100%로 설정해야함*/
}
.video{
    width: 100%;
}


/*bestseller*/
#bestseller{
    background: url(../images/beige.bg2.jpg) no-repeat center top;
    width: 100%;
    height: 900px;
    margin-top: -10px;
}
.bestseller_inner{
    width: 1320px;
    margin: auto;
    padding: 100px 0;
}
.bestseller_inner h1{
    text-align: center;
    letter-spacing: 2px;
    color: rgb(48, 73, 56);
}
/*제이쿼리해야 함*/
.best{
    background-color: rgba(75, 75, 75, 0.1);
    text-align: center;
    padding: 20px 30px;
    margin: 20px 0;
    color: #444444;
}
.best a{
    color: #444444;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px 10px;
    display: inline-block;
    margin-top: 10px;
}
.best a:hover{
    background-color:rgba(255, 255, 255, 0.3);
	box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.3), -5px 5px 10px rgba(255, 255, 255, 0.3), 5px -5px 10px rgba(255, 255, 255, 0.3);
}

#bestseller .best a img{
    display: inline-block;
    width: auto;
}
.green_text{
    color: #304938;
    font-weight: bold;
    font-size: 20px;
}
.small{
    font-size: 14px;
    padding: 5px 0;
}
.line_through{
    text-decoration: line-through;
}


/*promotion*/
#promotion{
    width: 1320px;
    height: 700px;
    margin: auto;
    padding: 100px 0;
}
#promotion h1{
    text-align: center;
    letter-spacing: 2px;
    color: rgb(48, 73, 56);
}
#promotion ul li{
    background-color: #fde8dd;
    float: left;
    height: 560px;
    margin: 100px 20px;
    color: rgb(70, 69, 69);
    text-align: center;
    border-radius: 200px;
}
#promotion img{
    border-radius: 200px 200px 0 0 ;
}
#promotion h4{
    padding: 35px 0 20px 0;
    letter-spacing: 2px;
    font-size: 18px;
}
#promotion a{
    display: inline-block;
    background-color: #746f62;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 200px;
    letter-spacing: 2px;
    font-family: Noto Serif;
}
#promotion a:hover{
    background-color: rgb(48, 73, 56);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


/*premium 1*/
#premium{
    background: url(../images/green.bg.jpg) no-repeat center top;
    width: 100%;
    height: 1660px;
    text-align: center;
}
#premium h1{
    padding: 100px 0;
    letter-spacing: 2px;
}
.grey{
    background-color: rgba(196, 196, 196, 0.3);
    padding: 60px 0;
}
.grey b{
    font-size: 20px;
}
#premium h2{
    background-color: #fcbd9b;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 40px;
}
.pink1{
    padding: 30px 0;
}
.pink2{
    width: 508px;
    margin: auto;
    padding-bottom: 40px;
    color: #fcbd9b;
    text-align: left;
}


/*premium 2*/
.premium2{
    width: 1320PX;
    margin: auto;
}
.premium2 ul{
    margin-top: 90px;
}
.premium2 ul li{
    float: left;
    transition: all 1s;
}
.premium2 ul li:hover{
    transform: translateY(-10px);
}
.premium_product{
    background-color: #fde8dd;
    padding: 140px 10px 110px 30px;
    margin-bottom: 30px;
    border-radius: 0 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.premium_center{
    margin: 0 50px;
}
.text1{
    background-color: rgba(138, 123, 94, 0.5);
    padding: 30px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 50px;
}
.navy{
    color: #272b44;
    text-decoration: line-through;
}
.premium_price{
    padding: 10px 0 20px 0;
}
.gold_bt{
    color: #c99d3e;
}
.premium2 a{
    background-color: #272b44;
    padding: 8px 15px;
}
.premium2 a:hover{
    background-color: #fff;
}


/*review*/
#review{
    background-color: #dcd9cf;
}
.review_inner{
    width: 1320px;
    height: 950px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.review_inner h1{
    color: #304938;
    letter-spacing: 2px;
}
.review_inner h6{
    color: #304938;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 30px 0 100px 0;
    padding: 15px 150px;
    background-color: #fff;
    display: inline-block;
}
.review_inner ul li{
    float: left;
    position: relative;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden; /*너비,높이 벗어난 요소 보이지 않게*/
}
.review_inner img{
    transition: all 1s;
}
/*review hover*/
.review_inner li:hover img{
    transform: scale(1.1, 1.1);
    border-radius: 50px;
}


/*footer*/
#footer{
    background-color: rgba(48, 73, 56, 0.8);
}
.footer_inner{
    width: 1320px;
    height: 300px;
    margin: auto;
    padding: 50px 0;
}
.f_logo{
    display: inline-block;
    width: 284px;
    height: 47px;
    float: left;
    padding-bottom: 50px;
}
.tell{
    font-size: 30px;
    padding-bottom: 25px;
}
.return{
    padding-top: 20px;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
    display: block;
    text-align: right;
    font-size: 13px;
}
.icon{
    display: inline-block;
    padding: 0 0 20px 10px;
    opacity: 0.5;
}
.icon:hover{
    transition: all 0.2s;
    opacity: 1;
}
.f_right h3{
    padding: 30px 0 10px 0;
}
.mark{
    display: inline-block;
    width: 50px;
    padding-top: 20px;
}
.terms{
    display: inline-block;
}
.terms:hover{
    text-decoration: underline;
}


/*fixed*/
.fixed{
    position: fixed;
    bottom: 50px;
    right: 40px;
}
.fixed a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(48, 73, 56, 0.8);
    border-radius: 50%;
}
.fixed a:nth-child(1){
    background: rgba(48, 73, 56, 0.8) url(../images/hover_basket.png) no-repeat center center;
    background-size: 20px;
    margin-bottom: 10px;
}
.fixed a:nth-child(2){
    background: rgba(48, 73, 56, 0.8) url(../images/hover_top.png) no-repeat center center;
    background-size: 20px;
}
.fixed a:hover{
    opacity: 0.5;
}